# Server configuration
NODE_ENV=development
PORT=3001
GRPC_PORT=50052
SERVICE_NAME=margyam-payments
LOG_LEVEL=debug

# CORS settings
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# JWT secret key
JWT_SECRET=jwtsecret
JWT_EXPIRATION=7d

# PostgreSQL database URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/margyam_payments?schema=public

# Payment gateway configuration
PHONEPE_MERCHANT_ID=MERCHANT_ID
PHONEPE_API_KEY=API_KEY
PHONEPE_ENV=UAT
